.arnyek{
    box-shadow: 5px 5px 5px blue;
}

.közepre{
    text-align: center;
}

.kep{
    width: 150px;
}

.foci{
    width: 130px;
}

.focistak{
    width: 400px;
}

.focikep{
    width: 100px;
}